# Solving multi-step problems using variables

Getting started with Data analysis with python

A grocery store sells a bag of ice for $1.25 and makes a 20% prot. If it sells 500 bags of ice, how much
total prot does it make?

In [111]:
# Store input data in variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500
# Perform the required calculations
Net_profit = cost_of_ice_bag*profit_margin*number_of_bags
print("The grocery store makes a total profit of $ ", Net_profit)

The grocery store makes a total profit of $  125.0

A travel company wants to y a plane to the Bahamas. Flying the plane costs 5000 dollars.
So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the
prot made by the company? Create variables for each numeric quantity and use appropriate arithmetic
operations.

In [112]:
Cost = 5000;
People = 29;
Ticket_cost = 200;
Profit = People*Ticket_cost - Cost
print("Profit made by company is $ ", Profit)

Profit made by company is $  800

In [113]:
Profit == 800

True

In [114]:
Profit == 200

False

In [115]:
COMPARISION = Profit == 200;

In [116]:
print("Is Profit of company is euqals to 200 ?",COMPARISION)

Is Profit of company is euqals to 200 ? False

In [117]:
g_profit = Net_profit < 500
g_profit and COMPARISION == True

False

In [118]:
g_profit or Profit > 500

True

07 November is over

# Storing information using variables

You can also assign values to multiple variables in a single statement by separating the variable names and values
with commas.

In [119]:
color1, color2, color3 = "Blue","Red","Black"

In [120]:
color4 = color5 = color6 = "Magneta"
print("color4=",color4,"color5=",color5,"color6=",color6)
print(color1,color2,color3)

color4= Magneta color5= Magneta color6= Magneta
Blue Red Black

In [121]:
counter = 10
# Same as `counter = counter + 4`
counter += 10 
print(counter)

20

Variable names can be short ( a , x , y , etc.) or descriptive ( my_favorite_color , profit_margin ,
the_3_musketeers , etc.). However, you must follow these rules while naming Python variables:
    1. A variable's name must start with a letter or the underscore character _. It cannot begin with a number.
    2. A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (a-z,A-Z, 0-9,        and _).
    3. Variable names are case-sensitive, i.e., a_variable, A_Variable, and A_VARIABLE are all different variables

In [122]:
a_variable = 23
is_today_Saturday = False
my_favorite_car = "Delorean"
the_3_musketeers = ["Athos", "Porthos", "Aramis"]

# Built-in data types in Python

You can view the type of data stored within a variable using the type function

In [123]:
print(type(a_variable))
print(type(my_favorite_car))
print(type(is_today_Saturday))
print(type(the_3_musketeers))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'list'>

Python has several built-in data types for storing different kinds of information in variables. Following are some
commonly used data types:
    1. Integer
    2. Float
    3. Boolean
    4. None
    5. String
    6. List
    7. Tuple
    8. Dictionary

Integer, oat, boolean, None, and string are primitive data types because they represent a single value. Other data
types like list, tuple, and dictionary are often called data structures or containers because they hold multiple pieces
of data together

# Integer

Integers represent positive or negative whole numbers, from negative innity to innity. Note that integers should
not include decimal points. Integers have the type int .

Unlike some other programming languages, integers in Python can be arbitrarily large (or small). There's no lowest
or highest value for integers, and there's just one int type (as opposed to short , int , long , long long ,
unsigned int , etc. in C/C++/Java).

# Float

Floats (or oating-point numbers) are numbers with a decimal point. There are no limits on the value or the
number of digits before or after the decimal point. Floating-point numbers have the type float .

Note that a whole number is treated as a oat if written with a decimal point, even though the decimal portion of
the number is zero.

Floating point numbers can also be written using the scientic notation with an "e" to indicate the power of 10.

In [124]:
one_hundredth = 1e-2
print(one_hundredth)
type(one_hundredth)

0.01

float

You can convert oats into integers and vice versa using the float and int functions. The operation of
converting one type of value into another is called casting.

In [125]:
float(one_hundredth)

0.01

In [126]:
int(one_hundredth*100)

1

While performing arithmetic operations, integers are automatically converted to float s if any of the operands is
a float . Also, the division operator / always returns a float , even if both operands are integers. Use the
// operator if you want the result of the division to be an int .

In [127]:
print(type(45 * 3.0))
print(type(45 * 3))
print(type(10/3))
print(type(10/2))
print(type(10//2))

<class 'float'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>

08 November is over

# Boolean

Booleans represent one of 2 values: True and False . Booleans have the type bool .

Booleans are generally the result of a comparison operation, e.g., == , >= , etc

In [128]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
is_ice_bag_expensive
type(is_ice_bag_expensive)

bool

In [129]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
is_ice_bag_expensive
#type(is_ice_bag_expensive)

False

In [130]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10
#is_ice_bag_expensive
type(is_ice_bag_expensive)

bool

Booleans are automatically converted to int s when used in arithmetic operations. True is converted to 1
and False is converted to 0

In [131]:
5 + False

5

In [132]:
3 + True

4

Any value in Python can be converted to a Boolean using the bool function.

Only the following values evaluate to False (they are often called falsy values):
1. The value False itself
2. The integer 0
3. The foat 0.0
4. The empty value None
5. The empty text ""
6. The empty list []
7. The empty tuple ()
8. The empty dictionary {}
9. The empty set set()
10. The empty range range(0)

In [133]:
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool(None))
print(bool(""))
print(bool([]))
print(bool(()))
print(bool({}))
print(bool(range(0)))
print(bool(set()))

False
False
False
False
False
False
False
False
False
False

In [134]:
bool(True), bool(1), bool(2.0), bool("hello"), bool([1,2]), bool((2,3)), bool(range(10))

(True, True, True, True, True, True, True)

# None

The None type includes a single value None , used to indicate the absence of a value. None has the type
NoneType . It is often used to declare a variable whose value may be assigned later.

In [135]:
nothing = None

In [136]:
type(nothing)

NoneType

# String

A string is used to represent text (a string of characters) in Python. Strings must be surrounded using quotations
(either the single quote ' or the double quote " ). Strings have the type string .

In [137]:
my_favorite_movie = "One Flew over the Cuckoo's Nest"
my_favorite_pun = 'Thanks for explaining the word "many" to me, it means a lot.'
my_favorite_movie, my_favorite_pun

("One Flew over the Cuckoo's Nest",
 'Thanks for explaining the word "many" to me, it means a lot.')

To use a double quote within a string written with double quotes, escape the inner quotes by prexing them with
the \ character.

In [138]:
another_pun = "The first time I got a universal remote control, I thought to myself \"This changes everything\"."
another_pun

'The first time I got a universal remote control, I thought to myself "This changes everything".'

Strings created using single or double quotes must begin and end on the same line. To create multiline strings, use
three single quotes ''' or three double quotes """ to begin and end the string. Line breaks are represented
using the newline character \n .

In [139]:
yet_another_pun = '''Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."'''
yet_another_pun

'Son: "Dad, can you tell me what a solar eclipse is?"\nDad: "No sun."'

Multiline strings are best displayed using the print function.

In [140]:
print(yet_another_pun)

Son: "Dad, can you tell me what a solar eclipse is?"
Dad: "No sun."

In [141]:
a_music_pun = """
Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."
"""
print(a_music_pun)

Two windmills are standing in a field and one asks the other,
"What kind of music do you like?"

The other says,
"I'm a big metal fan."

You can check the length of a string using the len function

In [142]:
len(my_favorite_movie)

31

Note that special characters like \n and escaped characters like \" count as a single character, even though
they are written and sometimes printed as two characters.

In [143]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [144]:
len(multiline_string)

3

A string can be converted into a list of characters using list function.

In [145]:
list(multiline_string)

['a', '\n', 'b']

You can access individual characters within a string using the [] indexing notation. Note the character indices
go from 0 to n-1 , where n is the length of the string.

In [146]:
today = "Saturday"
today[0], today[7]

('S', 'y')

You can access a part of a string using by providing a start:end range instead of a single index in [] .

In [147]:
today[5:8]

'day'

You can also check whether a string contains a some text using the in operator.

In [148]:
'day' in today

True

In [149]:
'Sun' in today

False

Two or more strings can be joined or concatenated using the + operator. Be careful while concatenating strings,
sometimes you may need to add a space character " " between words.

Methods: Methods are functions associated with data types and are accessed using the . notation e.g. variable_name.method() or "a string".method() . Methods are a powerful technique for associating common operations with values of specic data types.

The .lower() , .upper() and .capitalize() methods are used to change the case of the characters.

In [150]:
"monday".capitalize() # changes first character to uppercase

'Monday'

The .replace method replaces a part of the string with another string. It takes the portion to be replaced and
the replacement text as inputs or arguments.

In [151]:
another_day = today.replace("Satur", "Wednes")
another_day

'Wednesday'

Note that replace returns a new string, and the original string is not modied.

In [152]:
today

'Saturday'

The .split method splits a string into a list of strings at every occurrence of provided character(s).

In [153]:
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

The .strip method removes whitespace characters from the beginning and end of a string.

In [154]:
a_long_line = "       This is a long line with some space before, after,     and some space in the middle..    "

In [155]:
a_long_line_stripped = a_long_line.strip()

In [156]:
a_long_line_stripped

'This is a long line with some space before, after,     and some space in the middle..'

The .format method combines values of other data types, e.g., integers, floats, booleans, lists, etc. with strings. You can use format to construct output messages for display.

In [157]:
# Input variables
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template for output message
output_template = """If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %, 
then the total profit it makes by selling {} ice bags is $ {}."""

print(output_template)

If a grocery store sells ice bags at $ {} per bag, with a profit margin of {} %,
then the total profit it makes by selling {} ice bags is $ {}.

In [158]:
# Inserting values into the string
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
output_message = output_template.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(output_message)

If a grocery store sells ice bags at $ 1.25 per bag, with a profit margin of 20.0 %,
then the total profit it makes by selling 500 ice bags is $ 125.0.

Notice how the placeholders {} in the output_template string are replaced with the arguments provided to
the .format method.

It is also possible to use the string concatenation operator + to combine strings with other values. However,
those values must rst be converted to strings using the str function.

In [159]:
"If a grocery store sells ice bags at $ " + cost_of_ice_bag + ", with a profit margin of " + profit_margin

TypeError: can only concatenate str (not "float") to str

In [160]:
"If a grocery store sells ice bags at $ " + str(cost_of_ice_bag) + ", with a profit margin of " + str(profit_margin)

'If a grocery store sells ice bags at $ 1.25, with a profit margin of 0.2'

You can str to convert a value of any data type into a string.

In [161]:
str(True),str(23.432)

('True', '23.432')

Strings also support the comparison operators `==` and `!=` for checking whether two strings are equal.

09 November 2022 ends here

# Non-primitive data structures/Containers

## List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support
operations to add, remove, and change values. Lists have the type list .

To create a list, enclose a sequence of values within square brackets [ and ] , separated by commas

In [162]:
fruits = ['apple', 'banana', 'cherry']
type(fruits)

list

Let's try creating a list containing values of different data types, including another list.

In [163]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

To determine the number of values in a list, use the len function. You can use len to determine the number of
values in several other data types.

You can access an element from the list using its index, e.g., fruits[2] returns the element at index 2 within the
list fruits . The starting index of a list is 0.

In [164]:
fruits[0]

'apple'

If you try to access an index equal to or higher than the length of the list, Python returns an IndexError .

In [166]:
fruits[3]

IndexError: list index out of range

You can use negative indices to access elements from the end of a list, e.g., fruits[-1] returns the last
element, fruits[-2] returns the second last element, and so on.

In [ ]:
fruits[-1]

You can also access a range of values from the list. The result is itself a list. Let us look at some examples.

In [ ]:
a_list[2:5]

Note that the range 2:5 includes the element at the start index 2 but does not include the element at the end
index 5 . So, the result has 3 values (index 2 , 3 , and 4 ).

In [ ]:
a_list[2:10]

In [ ]:
a_list[12:10]

In [ ]:
 a_list[2:]

In [ ]:
a_list[:5]

In [ ]:
 a_list[-2:-5]

In [ ]:
 a_list[-5:-2]

A new value can be added to the end of a list using the append method.

In [ ]:
fruits.append('dates')

In [ ]:
fruits

A new value can also be inserted at a specic index using the insert method.

In [ ]:
fruits.insert(1, 'banana')

In [167]:
fruits

['apple', 'banana', 'cherry']

You can remove a value from a list using the remove method.

In [168]:
fruits.remove("dates")

ValueError: list.remove(x): x not in list

In [169]:
fruits

['apple', 'banana', 'cherry']

In [170]:
fruits.remove('banana','apple')

TypeError: list.remove() takes exactly one argument (2 given)

To remove an element from a specic index, use the pop method. The method also returns the removed element.

In [171]:
fruits

['apple', 'banana', 'cherry']

In [172]:
fruits.pop(1)

'banana'

In [173]:
fruits

['apple', 'cherry']

If no index is provided, the pop method removes the last element of the list.

In [174]:
fruits.pop()

'cherry'

In [175]:
fruits

['apple']

You can test whether a list contains a value using the in operator.

In [176]:
'pineapple' in fruits

False

In [177]:
'cherry' in fruits

False

To combine two or more lists, use the + operator. This operation is also called concatenation.

In [178]:
more_fruits = fruits + ['pineapple', 'tomato', 'guava'] + ['dates', 'banana']

In [179]:
more_fruits

['apple', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

To create a copy of a list, use the copy method. Modifying the copied list does not affect the original.

In [180]:
more_fruits_copy = more_fruits.copy()

In [181]:
# Modify the copy
more_fruits_copy.remove('pineapple')
more_fruits_copy.pop()
more_fruits_copy

['apple', 'tomato', 'guava', 'dates']

In [182]:
# Original list remains unchanged
more_fruits

['apple', 'pineapple', 'tomato', 'guava', 'dates', 'banana']

Note that you cannot create a copy of a list by simply creating a new variable using the assignment operator = .
The new variable will point to the same list, and any modications performed using either variable will affect the
other.

In [183]:
more_fruits_not_a_copy = more_fruits

In [184]:
more_fruits_not_a_copy.remove('pineapple')
more_fruits_not_a_copy.pop()

'banana'

In [185]:
more_fruits_not_a_copy

['apple', 'tomato', 'guava', 'dates']

In [186]:
more_fruits

['apple', 'tomato', 'guava', 'dates']

10 November Ends here

In [190]:
more_fruits.reverse()

In [191]:
more_fruits

['dates', 'guava', 'tomato', 'apple']

In [192]:
more_fruits.sort()

In [193]:
more_fruits

['apple', 'dates', 'guava', 'tomato']

In [194]:
num_list = [85,12,65,100,180,150]

In [195]:
num_list

[85, 12, 65, 100, 180, 150]

In [196]:
num_list.sort()

In [197]:
num_list

[12, 65, 85, 100, 150, 180]

## Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify
values in a tuple. A tuple is created by enclosing values within parentheses ( and ) , separated by commas.

Any data structure that cannot be modied after creation is called immutable. You can think of tuples as
immutable lists.

In [199]:
fruits = ('apple', 'cherry', 'dates')

In [203]:
# check no. of elements
len(fruits)

3

In [204]:
# get an element (positive index)
fruits[0]

'apple'

In [205]:
# get an element (negative index)
fruits[-2]

'cherry'

In [207]:
# check if it contains an element
'dates' in fruits

True

In [208]:
# try to change an element
fruits[0] = 'avocado'

TypeError: 'tuple' object does not support item assignment

In [209]:
# try to append an element
fruits.append('blueberry')

AttributeError: 'tuple' object has no attribute 'append'

In [210]:
# try to remove an element
fruits.remove('apple')

AttributeError: 'tuple' object has no attribute 'remove'

You can also skip the parantheses ( and ) while creating a tuple. Python automatically converts commaseparated values into a tuple.

In [211]:
the_3_musketeers = 'Athos', 'Porthos', 'Aramis'

In [212]:
the_3_musketeers

('Athos', 'Porthos', 'Aramis')

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses (
and ) won't make it a tuple

In [213]:
single_element_tuple = 4,

In [214]:
single_element_tuple

(4,)

In [215]:
another_single_element_tuple = (4,)

In [216]:
another_single_element_tuple

(4,)

In [217]:
not_a_tuple = (4)

In [218]:
not_a_tuple

4

Tuples are often used to create multiple variables with a single statement.

In [220]:
point = (3, 4)

In [221]:
point_x, point_y = point

In [222]:
point_x

3

In [223]:
point_y

4

You can convert a list into a tuple using the tuple function, and vice versa using the list function

In [224]:
tuple(['one', 'two', 'three'])

('one', 'two', 'three')

In [225]:
list(('Athos', 'Porthos', 'Aramis'))

['Athos', 'Porthos', 'Aramis']

Tuples have just two built-in methods: count and index . there's an easier way to check a method's documentation,
using the help function.

In [226]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [227]:
help(a_tuple.count)

Help on built-in function count:

count(value, /) method of builtins.tuple instance
    Return number of occurrences of value.

In [230]:
a_tuple.count(23)

2

In [231]:
help(a_tuple.index)

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [234]:
a_tuple.index(23)

0

The index() method finds the first occurrence of the specified value.

Within a Jupyter notebook, you can also start a code cell with ? and type the name of a function or method.
When you execute this cell, you will see the function/method's documentation in a pop-up window

In [236]:
?a_tuple.index

In [237]:
a_tuple.index(23,3,6)

4

## Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use
a key to retrieve the corresponding value from the dictionary. Dictionaries have the type dict.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable.
Dictionaries are created by enclosing key-value pairs within braces or curly brackets { and } .

In [238]:
person1 = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

In [239]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries can also be created using the dict function.

In [240]:
person2 = dict(name='Jane Judy', sex='Female', age=28, married=False)

In [241]:
person2

{'name': 'Jane Judy', 'sex': 'Female', 'age': 28, 'married': False}

In [242]:
type(person1)

dict

Keys can be used to access values using square brackets [ and ].

In [243]:
person1['name']

'John Doe'

In [244]:
person1['married']

True

If a key isn't present in the dictionary, then a `KeyError` is *thrown*.

In [245]:
person1['address']

KeyError: 'address'

You can also use the get method to access the value associated with a key.

In [246]:
person2.get("name")

'Jane Judy'

The `get` method also accepts a default value, returned if the key is not present in the dictionary.

In [247]:
person2.get("address", "Unknown")

'Unknown'

You can check whether a key is present in a dictionary using the in operator.

In [249]:
"address" in person2

False

In [252]:
?person2.get

You can change the value associated with a key using the assignment operator.

In [253]:
person2['married']

False

In [254]:
person2['married'] = True

In [255]:
person2['married']

True

The assignment operator can also be used to add new key-value pairs to the dictionary.

In [256]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

In [257]:
person1['address'] = '1, Penny Lane'

In [258]:
person1

{'name': 'John Doe',
 'sex': 'Male',
 'age': 32,
 'married': True,
 'address': '1, Penny Lane'}

To remove a key and the associated value from a dictionary, use the `pop` method.

In [259]:
person1.pop('address')

'1, Penny Lane'

In [260]:
person1

{'name': 'John Doe', 'sex': 'Male', 'age': 32, 'married': True}

Dictionaries also provide methods to view the list of keys, values, or key-value pairs inside it.

In [262]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'married'])

In [263]:
person1.values()

dict_values(['John Doe', 'Male', 32, True])

In [264]:
person1.items()

dict_items([('name', 'John Doe'), ('sex', 'Male'), ('age', 32), ('married', True)])

In [265]:
person1.items()[1]

TypeError: 'dict_items' object is not subscriptable

The results of `keys`, `values`, and `items` look like lists. However, they don't support the indexing operator `[]` for retrieving elements. 

Can you figure out how to access an element at a specific index from these results? Try it below. *Hint: Use the `list` function*

In [12]:
alpha = {"top" : 10 , "top" : 9, "bottom" : 1, "left" : 2,"takeover" : 3 }

In [13]:
alpha

{'top': 9, 'bottom': 1, 'left': 2, 'takeover': 3}

In [14]:
alpha_copy = alpha.copy()

In [15]:
alpha

{'top': 9, 'bottom': 1, 'left': 2, 'takeover': 3}

In [16]:
alpha_copy

{'top': 9, 'bottom': 1, 'left': 2, 'takeover': 3}

In [17]:
alpha_copy["top"] = 10

In [18]:
alpha

{'top': 9, 'bottom': 1, 'left': 2, 'takeover': 3}

In [19]:
alpha_copy

{'top': 10, 'bottom': 1, 'left': 2, 'takeover': 3}

In [20]:
?dict.update

In [23]:
alpha.update({"mid": 5})

In [24]:
alpha

{'top': 9, 'bottom': 1, 'left': 2, 'takeover': 3, 'mid': 5}

In [27]:
alpha.update({[2] : "list"})

TypeError: unhashable type: 'list'

11 November ends here

a dictionary key must be of a type that is immutable. For example, you can use an integer, float, string, or Boolean as a dictionary key. However, neither a list nor another dictionary can serve as a dictionary key, because lists and dictionaries are mutable.

# Branching using Conditional Statements and Loops in Python

## Branching with if, else and elif

branching: the ability to make decisions and execute a different set of statements based on whether one or more conditions are true.

### The if statement

Indentation: Python relies heavily on indentation (white space before a statement) to define code structure. This makes Python code easy to read and understand. You can run into problems if you don't use indentation properly. Indent your code by placing the cursor at the start of the line and pressing the Tab key once to add 4 spaces. Pressing Tab again will indent the code further by 4 more spaces, and press Shift+Tab will reduce the indentation by 4 spaces.

In [28]:
a_number = 34

In [29]:
if a_number % 2 == 0:
    print("We're inside an if block")
    print('The given number {} is even.'.format(a_number))

We're inside an if block
The given number 34 is even.

We use the modulus operator % to calculate the remainder from the division of a_number by 2. Then, we use the comparison operator == check if the remainder is 0, which tells us whether the number is even, i.e., divisible by 2.

### The else statement

If condition evaluates to True, the statements in the if block are executed. If it evaluates to False, the statements in the else block are executed.

In [31]:
another_number = 33

In [32]:
if another_number % 2 == 0:
    print('The given number {} is even.'.format(another_number))
else:
    print('The given number {} is odd.'.format(another_number))

The given number 33 is odd.

In [33]:
the_3_musketeers = ('Athos', 'Porthos', 'Aramis')

In [34]:
a_candidate = "D'Artagnan"

In [35]:
if a_candidate in the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

D'Artagnan is not a musketeer

### The elif statement

The conditions are evaluated one by one. For the first condition that evaluates to True, the block of statements below it is executed. The remaining conditions and statements are not evaluated. So, in an if, elif, elif... chain, at most one block of statements is executed, the one corresponding to the first condition that evaluates to True.

In [36]:
today = 'Wednesday'

In [37]:
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

Today is the day of Odin, the supreme diety.

This is the key difference between using a chain of if, elif, elif... statements vs. a chain of if statements, where each condition is evaluated independently.

In [38]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
if a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
if a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
if a_number % 7 == 0:
    print('{} is divisible by 7'.format(a_number))

34 is divisible by 2

### Using if, elif, and else together

You can also include an else statement at the end of a chain of if, elif... statements. This code within the else block is evaluated when none of the conditions hold true.

In [40]:
a_number = 49
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2, 3 or 5'.format(a_number))

All checks failed!
49 is not divisible by 2, 3 or 5

Conditions can also be combined using the logical operators and, or and not

In [41]:
a_number = 12
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5".format(a_number))
elif not a_number % 5 == 0:
    print("The number {} is not divisible by 5".format(a_number))

The number 12 is not divisible by 5

## Non-Boolean Conditions

Note that conditions do not necessarily have to be booleans. In fact, a condition can be any value. The value is converted into a boolean automatically using the `bool` operator. This means that falsy values like `0`, `''`, `{}`, `[]`, etc. evaluate to `False` and all other values evaluate to `True`.

In [42]:
if '':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

In [43]:
if 'Hello':
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [44]:
if { 'a': 34 }:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to True

In [45]:
if None:
    print('The condition evaluted to True')
else:
    print('The condition evaluted to False')

The condition evaluted to False

## Nested conditional statements

The code inside an if block can also include an if statement inside it. This pattern is called nesting and is used to check for another condition after a particular condition holds true.

In [46]:
a_number = 15
if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisible by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also divisible by 5".format(a_number))
    else:
        print("{} is not divisible by 5".format(a_number))

15 is odd
15 is also divisible by 5

Notice how the print statements are indented by 8 spaces to indicate that they are part of the inner if/else blocks.

## Shorthand if conditional expression

Python provides a shorter syntax, which allows writing such conditions in a single line of code. It is known as a *conditional expression*, sometimes also referred to as a *ternary operator*. It has the following syntax:

```
x = true_value if condition else false_value
```

It has the same behavior as the following `if`-`else` block:

```
if condition:
    x = true_value
else:
    x = false_value
```

Let's try it out for the example above.

In [48]:
parity = 'even' if a_number % 2 == 0 else 'odd'

In [49]:
print('The number {} is {}.'.format(a_number, parity))

The number 15 is odd.

## Statements and Expressions

The conditional expression highlights an essential distinction between *statements* and *expressions* in Python. 

> **Statements**: A statement is an instruction that can be executed. Every line of code we have written so far is a statement e.g. assigning a variable, calling a function, conditional statements using `if`, `else`, and `elif`, loops using `for` and `while` etc.

> **Expressions**: An expression is some code that evaluates to a value. Examples include values of different data types, arithmetic expressions, conditions, variables, function calls, conditional expressions, etc. 


Most expressions can be executed as statements, but not all statements are expressions. For example, the regular `if` statement is not an expression since it does not evaluate to a value. It merely performs some branching in the code. Similarly, loops and function definitions are not expressions.

As a rule of thumb, an expression is anything that can appear on the right side of the assignment operator `=`. You can use this as a test for checking whether something is an expression or not. You'll get a syntax error if you try to assign something that is not an expression.

In [50]:
# if statement
result = if a_number % 2 == 0: 
    'even'
else:
    'odd'

SyntaxError: invalid syntax (26250527.py, line 2)

In [51]:
# if expression
result = 'even' if a_number % 2 == 0 else 'odd'

### The `pass` statement

`if` statements cannot be empty, there must be at least one statement in every `if` and `elif` block. You can use the `pass` statement to do nothing and avoid getting an error.

In [53]:
a_number = 9
if a_number % 2 == 0:
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2')

IndentationError: expected an indented block after 'if' statement on line 2 (3567669234.py, line 3)

In [54]:
if a_number % 2 == 0:
    pass
elif a_number % 3 == 0:
    print('{} is divisible by 3 but not divisible by 2'.format(a_number))

9 is divisible by 3 but not divisible by 2

### Iteration with while loops
running one or more statements multiple times.(iteration on looping)
There are two ways to do this in Python: using while loops and for loops.

while loops have the following syntax:

    while condition:
        statement(s)
    
Statements in the code block under while are executed repeatedly as long as the condition evaluates to True. Generally, one of the statements under while makes some change to a variable that causes the condition to evaluate to False after a certain number of iterations.

calculate factorial of 100 using a while loop. The factorial of a number n is the product (multiplication) of all the numbers from 1 to n, i.e., 1*2*3*...*(n-2)*(n-1)*n.

In [7]:
fact = 1 ;
n = 100 ;
while n>1 :
    fact = fact*n ;
    n -= 1;
print('The factorial of 100 is: {}'.format(fact))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [8]:
result = 1
i = 1

while i <= 100:
    result = result * i
    i = i+1

print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

Here's how the above code works:

* We initialize two variables, `result` and, `i`. `result` will contain the final outcome. And `i` is used to keep track of the next number to be multiplied with `result`. Both are initialized to 1 (can you explain why?)

* The condition `i <= 100` holds true (since `i` is initially `1`), so the `while` block is executed.

* The `result` is updated to `result * i`, `i` is increased by `1` and it now has the value `2`.

* At this point, the condition `i <= 100` is evaluated again. Since it continues to hold true, `result` is again updated to `result * i`, and `i` is increased to `3`.

* This process is repeated till the condition becomes false, which happens when `i` holds the value `101`. Once the condition evaluates to `False`, the execution of the loop ends, and the `print` statement below it is executed. 

Can you see why `result` contains the value of the factorial of 100 at the end? If not, try adding `print` statements inside the `while` block to print `result` and `i` in each iteration.


> Iteration is a powerful technique because it gives computers a massive advantage over human beings in performing thousands or even millions of repetitive operations really fast. With just 4-5 lines of code, we were able to multiply 100 numbers almost instantly. The same code can be used to multiply a thousand numbers (just change the condition to `i <= 1000`) in a few seconds.

You can check how long a cell takes to execute by adding the *magic* command `%%time` at the top of a cell. Try checking how long it takes to compute the factorial of `100`, `1000`, `10000`, `100000`, etc.

In [21]:
%%time
result = 1
i = 1

while i <= 100000:
    result = result * i
    i = i+1

# print('The factorial of 100 is: {}'.format(result))

CPU times: total: 6.23 s
Wall time: 6.37 s

In [22]:
line = '*'
max_length = 10

while len(line) < max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

In [4]:
n = 4
j = 1 
t = (n*3)//2
while j< (n*3):
    i = 1 ;
    while i< (t + j):
        if i>=t:
            print("*",end= " ")
        else :
            print("", end = " ")
        i= i+1 
    j = j + 1
    t -=1 
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

### Infinite Loops

Suppose the condition in a `while` loop always holds true. In that case, Python repeatedly executes the code within the loop forever, and the execution of the code never completes. This situation is called an infinite loop. It generally indicates that you've made a mistake in your code. For example, you may have provided the wrong condition or forgotten to update a variable within the loop, eventually falsifying the condition.

If your code is *stuck* in an infinite loop during execution, just press the "Stop" button on the toolbar (next to "Run") or select "Kernel > Interrupt" from the menu bar. This will *interrupt* the execution of the code. The following two cells both lead to infinite loops and need to be interrupted.

In [6]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i <= 100:
    result = result * i
    # forgot to increment i

KeyboardInterrupt:

In [7]:
# INFINITE LOOP - INTERRUPT THIS CELL

result = 1
i = 1

while i > 0 : # wrong condition
    result *= i
    i += 1

KeyboardInterrupt:

### `break` and `continue` statements

You can use the `break` statement within the loop's body to immediately stop the execution and *break* out of the loop (even if the condition provided to `while` still holds true).

In [8]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

Sometimes you may not want to end the loop entirely, but simply skip the remaining statements in the loop and *continue* to the next loop. You can do this using the `continue` statement.

In [9]:
i = 1
result = 1

while i < 20:
    i += 1
    if i % 2 == 0:
        print('Skipping {}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:', i)
print('result:', result)

Skipping 2
Multiplying with 3
Skipping 4
Multiplying with 5
Skipping 6
Multiplying with 7
Skipping 8
Multiplying with 9
Skipping 10
Multiplying with 11
Skipping 12
Multiplying with 13
Skipping 14
Multiplying with 15
Skipping 16
Multiplying with 17
Skipping 18
Multiplying with 19
Skipping 20
i: 20
result: 654729075

> **Logging**: The process of adding `print` statements at different points in the code (often within loops and conditional statements) for inspecting the values of variables at various stages of execution is called logging. As our programs get larger, they naturally become prone to human errors. Logging can help in verifying the program is working as expected. In many cases, `print` statements are added while writing & testing some code and are removed later.

## Iteration with `for` loops

A `for` loop is used for iterating or looping over sequences, i.e., lists, tuples, dictionaries, strings, and *ranges*. For loops have the following syntax:

```
for value in sequence:
    statement(s)
```

The statements within the loop are executed once for each element in `sequence`. Here's an example that prints all the element of a list.

In [10]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [11]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [12]:
# Looping over a tuple
for fruit in ('Apple', 'Banana', 'Guava'):
    print("Here's a fruit:", fruit)

Here's a fruit: Apple
Here's a fruit: Banana
Here's a fruit: Guava

In [13]:
# Looping over a dictionary
person = {
    'name': 'John Doe',
    'sex': 'Male',
    'age': 32,
    'married': True
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

Note that while using a dictionary with a `for` loop, the iteration happens over the dictionary's keys. The key can be used within the loop to access the value. You can also iterate directly over the values using the `.values` method or over key-value pairs using the `.items` method.

In [14]:
for value in person.values():
    print(value)

John Doe
Male
32
True

In [15]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'John Doe')
('sex', 'Male')
('age', 32)
('married', True)

Since a key-value pair is a tuple, we can also extract the key & value into separate variables.

In [17]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: John Doe
Key: sex , Value: Male
Key: age , Value: 32
Key: married , Value: True

### Iterating using `range` and `enumerate`

The `range` function is used to create a sequence of numbers that can be iterated over using a `for` loop. It can be used in 3 ways:
 
* `range(n)` - Creates a sequence of numbers from `0` to `n-1`
* `range(a, b)` - Creates a sequence of numbers from `a` to `b-1`
* `range(a, b, step)` - Creates a sequence of numbers from `a` to `b-1` with increments of `step`

Let's try it out.

In [18]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [19]:
for i in range(3, 10):
    print(i)

3
4
5
6
7
8
9

In [20]:
for i in range(3, 14, 4):
    print(i)

3
7
11

Ranges are used for iterating over lists when you need to track the index of elements while iterating.

In [21]:
a_list = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

for i in range(len(a_list)):
    print('The value at position {} is {}.'.format(i, a_list[i]))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

Another way to achieve the same result is by using the `enumerate` function with `a_list` as an input, which returns a tuple containing the index and the corresponding element.

In [22]:
for i, val in enumerate(a_list):
    print('The value at position {} is {}.'.format(i, val))

The value at position 0 is Monday.
The value at position 1 is Tuesday.
The value at position 2 is Wednesday.
The value at position 3 is Thursday.
The value at position 4 is Friday.

### `break`, `continue` and `pass` statements

Similar to `while` loops, `for` loops also support the `break` and `continue` statements. `break` is used for breaking out of the loop and `continue` is used for skipping ahead to the next iteration.

In [24]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [25]:
for day in weekdays:
    print('Today is {}'.format(day))
    if (day == 'Wednesday'):
        print("I don't work beyond Wednesday!")
        break

Today is Monday
Today is Tuesday
Today is Wednesday
I don't work beyond Wednesday!

In [26]:
for day in weekdays:
    if (day == 'Wednesday'):
        print("I don't work on Wednesday!")
        continue
    print('Today is {}'.format(day))

Today is Monday
Today is Tuesday
I don't work on Wednesday!
Today is Thursday
Today is Friday

Like `if` statements, `for` loops cannot be empty, so you can use a `pass` statement if you don't want to execute any statements inside the loop.

In [27]:
for day in weekdays:
    pass

### Nested `for` and `while` loops

Similar to conditional statements, loops can be nested inside other loops. This is useful for looping lists of lists, dictionaries etc.

In [28]:
persons = [{'name': 'John', 'sex': 'Male'}, {'name': 'Jane', 'sex': 'Female'}]

for person in persons:
    for key in person:
        print(key, ":", person[key])
    print(" ")

name : John
sex : Male

name : Jane
sex : Female

In [29]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['apple', 'banana', 'guava']

for day in days:
    for fruit in fruits:
        print(day, fruit)

Monday apple
Monday banana
Monday guava
Tuesday apple
Tuesday banana
Tuesday guava
Wednesday apple
Wednesday banana
Wednesday guava

14 Dec ends here

## Creating and using functions

A function is a reusable set of instructions that takes one or more inputs, performs some operations, and often returns an output. Python contains many in-built functions like `print`, `len`, etc., and provides the ability to define new ones.

You can define a new function using the `def` keyword.

In [1]:
def say_hello():
    print('Hello there!')
    print('How are you?')

Note the round brackets or parentheses `()` and colon `:` after the function's name. Both are essential parts of the syntax. The function's *body* contains an indented block of statements. The statements inside a function's body are not executed when the function is defined. To execute the statements, we need to *call* or *invoke* the function.

In [2]:
say_hello()

Hello there!
How are you?

### Function arguments

Functions can accept zero or more values as *inputs* (also knows as *arguments* or *parameters*). Arguments help us write flexible functions that can perform the same operations on different values. Further, functions can return a result that can be stored in a variable or used in other expressions.

Here's a function that filters out the even numbers from a list and returns a new list using the `return` keyword.

In [3]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [4]:
even_list = filter_even([1, 2, 3, 4, 5, 6, 7])

In [5]:
even_list

[2, 4, 6]

## Writing great functions in Python

As a programmer, you will spend most of your time writing and using functions. Python offers many features to make your functions powerful and flexible. Let's explore some of these by solving a problem:

> Radha is planning to buy a house that costs `$1,260,000`. She considering two options to finance her purchase:
>
> * Option 1: Make an immediate down payment of `$300,000`, and take loan 8-year loan with an interest rate of 10% (compounded monthly) for the remaining amount.
> * Option 2: Take a 10-year loan with an interest rate of 8% (compounded monthly) for the entire amount.
>
> Both these loans have to be paid back in equal monthly installments (EMIs). Which loan has a lower EMI among the two?


Since we need to compare the EMIs for two loan options, defining a function to calculate the EMI for a loan would be a great idea.  The inputs to the function would be cost of the house, the down payment, duration of the loan, rate of interest etc. We'll build this function step by step.

First, let's write a simple function that calculates the EMI on the entire cost of the house, assuming that the loan must be paid back in one year, and there is no interest or down payment.

In [12]:
def EMI(float cost,float interest_rate,float back_year):
    compound = cost*(((100+interest_rate)/100)^back_year)
    return compound/(12*back_year)
print("The EMI is 4{}".format(EMI(1260000,8,1))

SyntaxError: invalid syntax (657080179.py, line 1)

In [13]:
def loan_emi(amount):
    emi = amount / 12
    print('The EMI is ${}'.format(emi))

In [14]:
loan_emi(1260000)

The EMI is $105000.0

### Local variables and scope

Let's add a second argument to account for the duration of the loan in months.

In [15]:
def loan_emi(amount, duration):
    emi = amount / duration
    print('The EMI is ${}'.format(emi))

Note that the variable `emi` defined inside the function is not accessible outside. The same is true for the parameters `amount` and `duration`. These are all *local variables* that lie within the *scope* of the function.

> **Scope**: Scope refers to the region within the code where a particular variable is visible. Every function (or class definition) defines a scope within Python. Variables defined in this scope are called *local variables*. Variables that are available everywhere are called *global variables*. Scope rules allow you to use the same variable names in different functions without sharing values from one to the other.

In [16]:
emi

NameError: name 'emi' is not defined

In [17]:
amount

NameError: name 'amount' is not defined

In [18]:
duration

NameError: name 'duration' is not defined

We can now compare a 6-year loan vs. a 10-year loan (assuming no down payment or interest).

In [20]:
loan_emi(1260000, 8*12)

The EMI is $13125.0

In [22]:
loan_emi(1260000, 10*12)

The EMI is $10500.0

### Return values

As you might expect, the EMI for the 6-year loan is higher compared to the 10-year loan. Right now, we're printing out the result. It would be better to return it and store the results in variables for easier comparison. We can do this using the `return` statement

In [23]:
def loan_emi(amount, duration):
    emi = amount / duration
    return emi

In [24]:
emi1 = loan_emi(1260000, 8*12)

In [26]:
emi2 = loan_emi(1260000, 10*12)

In [27]:
emi1

13125.0

In [28]:
emi2

10500.0

### Optional arguments

Next, let's add another argument to account for the immediate down payment. We'll make this an *optional argument* with a default value of 0.

In [29]:
def loan_emi(amount, duration, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount / duration
    return emi

In [30]:
emi1 = loan_emi(1260000, 8*12, 3e5)

In [31]:
emi1

10000.0

In [32]:
emi2 = loan_emi(1260000, 10*12)

In [33]:
emi2

10500.0

Next, let's add the interest calculation into the function. Here's the formula used to calculate the EMI for a loan:

<img src="https://i.imgur.com/iKujHGK.png" style="width:240px">

where:

* `P` is the loan amount (principal)
* `n` is the no. of months
* `r` is the rate of interest per month

The derivation of this formula is beyond the scope of this tutorial. See this video for an explanation: https://youtu.be/Coxza9ugW4E .

In [34]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi

Note that while defining the function, required arguments like `cost`, `duration` and `rate` must appear before optional arguments like `down_payment`.

Let's calculate the EMI for Option 1

In [35]:
loan_emi(1260000, 8*12, 0.1/12, 3e5)

14567.19753389219

While calculating the EMI for Option 2, we need not include the `down_payment` argument.

In [36]:
loan_emi(1260000, 10*12, 0.08/12)

15287.276888775077

### Named arguments

Invoking a function with many arguments can often get confusing and is prone to human errors. Python provides the option of invoking functions with *named* arguments for better clarity. You can also split function invocation into multiple lines.

In [37]:
emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

In [38]:
emi1

14567.19753389219

In [39]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [40]:
emi2

15287.276888775077

### Modules and library functions

We can already see that the EMI for Option 1 is lower than the EMI for Option 2. However, it would be nice to round up the amount to full dollars, rather than showing digits after the decimal. To achieve this, we might want to write a function that can take a number and round it up to the next integer (e.g., 1.2 is rounded up to 2). That would be a great exercise to try out!

However, since rounding numbers is a fairly common operation, Python provides a function for it (along with thousands of other functions) as part of the [Python Standard Library](https://docs.python.org/3/library/). Functions are organized into *modules* that need to be imported to use the functions they contain. 

> **Modules**: Modules are files containing Python code (variables, functions, classes, etc.). They provide a way of organizing the code for large Python projects into files and folders. The key benefit of using modules is _namespaces_: you must import the module to use its functions within a Python script or notebook. Namespaces provide encapsulation and avoid naming conflicts between your code and a module or across modules.

We can use the `ceil` function (short for *ceiling*) from the `math` module to round up numbers. Let's import the module and use it to round up the number `1.2`.

In [1]:
import math

In [2]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [3]:
math.ceil(1.2)

2

Let's now use the `math.ceil` function within the `home_loan_emi` function to round up the EMI amount. 

> Using functions to build other functions is a great way to reuse code and implement complex business logic while still keeping the code small, understandable, and manageable. Ideally, a function should do one thing and one thing only. If you find yourself writing a function that does too many things, consider splitting it into multiple smaller, independent functions. As a rule of thumb, try to limit your functions to 10 lines of code or less. Good programmers always write short, simple, and readable functions.

In [4]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    emi = math.ceil(emi)
    return emi

In [5]:
emi1 = loan_emi(
    amount=1260000, 
    duration=8*12, 
    rate=0.1/12, 
    down_payment=3e5
)

In [6]:
emi1

14568

In [7]:
emi2 = loan_emi(amount=1260000, duration=10*12, rate=0.08/12)

In [8]:
emi2

15288

Let's compare the EMIs and display a message for the option with the lower EMI.

In [9]:
if emi1 < emi2:
    print("Option 1 has the lower EMI: ${}".format(emi1))
else:
    print("Option 2 has the lower EMI: ${}".format(emi2))

Option 1 has the lower EMI: $14568

### Reusing and improving functions 

Now we know for sure that "Option 1" has the lower EMI among the two options. But what's even better is that we now have a handy function `loan_emi` that we can use to solve many other similar problems with just a few lines of code. Let's try it with a couple more questions.

> **Q**: Shaun is currently paying back a home loan for a house he bought a few years ago. The cost of the house was `$800,000`. Shaun made a down payment of `25%` of the price. He financed the remaining amount using a 6-year loan with an interest rate of `7%` per annum (compounded monthly). Shaun is now buying a car worth `$60,000`, which he is planning to finance using a 1-year loan with an interest rate of `12%` per annum. Both loans are paid back in EMIs. What is the total monthly payment Shaun makes towards loan repayment?

This question is now straightforward to solve, using the `loan_emi` function we've already defined.

In [15]:
emi_house = loan_emi(800000*0.75,180,0.07/12)
emi_car = loan_emi(60000,12,0.12)

In [16]:
print("Shaun makes a total monthly payment of ${} towards loan repayments.".format(emi_house+emi_car))

Shaun makes a total monthly payment of $15080 towards loan repayments.

### Exceptions and `try`-`except`

> Q: If you borrow `$100,000` using a 10-year loan with an interest rate of 9% per annum, what is the total amount you end up paying as interest?

One way to solve this problem is to compare the EMIs for two loans: one with the given rate of interest and another with a 0% rate of interest. The total interest paid is then simply the sum of monthly differences over the duration of the loan.

In [17]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [18]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0./12)
emi_without_interest

ZeroDivisionError: float division by zero

Something seems to have gone wrong! If you look at the error message above carefully, Python tells us precisely what is wrong. Python *throws* a `ZeroDivisionError` with a message indicating that we're trying to divide a number by zero. `ZeroDivisonError` is an *exception* that stops further execution of the program.

> **Exception**: Even if a statement or expression is syntactically correct, it may cause an error when the Python interpreter tries to execute it. Errors detected during execution are called exceptions. Exceptions typically stop further execution of the program unless handled within the program using `try`-`except` statements.

Python provides many built-in exceptions *thrown* when built-in operators, functions, or methods are used incorrectly: https://docs.python.org/3/library/exceptions.html#built-in-exceptions. You can also define your custom exception by extending the `Exception` class (more on that later).

You can use the `try` and `except` statements to *handle* an exception. Here's an example:

In [19]:
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

When an exception occurs inside a `try` block, the block's remaining statements are skipped. The `except` block is executed if the type of exception thrown matches that of the exception being handled. After executing the `except` block, the program execution returns to the normal flow.

You can also handle more than one type of exception using multiple `except` statements. Learn more about exceptions here: https://www.w3schools.com/python/python_try_except.asp .

Let's enhance the `loan_emi` function to use `try`-`except` to handle the scenario where the interest rate is 0%. It's common practice to make changes/enhancements to functions over time as new scenarios and use cases come up. It makes functions more robust & versatile.

In [20]:
def loan_emi(amount, duration, rate, down_payment=0):
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

We can use the updated `loan_emi` function to solve our problem.

> **Q**: If you borrow `$100,000` using a 10-year loan with an interest rate of 9% per annum, what is the total amount you end up paying as interest?

In [21]:
emi_with_interest = loan_emi(amount=100000, duration=10*12, rate=0.09/12)
emi_with_interest

1267

In [22]:
emi_without_interest = loan_emi(amount=100000, duration=10*12, rate=0)
emi_without_interest

834

In [23]:
total_interest = (emi_with_interest - emi_without_interest) * 10*12

In [24]:
print("The total interest paid is ${}.".format(total_interest))

The total interest paid is $51960.

### Documenting functions using Docstrings

We can add some documentation within our function using a *docstring*. A docstring is simply a string that appears as the first statement within the function body, and is used by the `help` function. A good docstring describes what the function does, and provides some explanation about the arguments.

In [25]:
def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

In the docstring above, we've provided some additional information that the `duration` and `rate` are measured in months. You might even consider naming the arguments `duration_months` and `rate_monthly`, to avoid any confusion whatsoever. Can you think of some other ways to improve the function?

In [26]:
help(loan_emi)

Help on function loan_emi in module __main__:

loan_emi(amount, duration, rate, down_payment=0)
    Calculates the equal montly installment (EMI) for a loan.

    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)

## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

# Reading from and Writing to Files using Python

![](https://i.imgur.com/rv8wZ7l.png)




This tutorial series is a beginner-friendly introduction to programming and data analysis using the Python programming language. These tutorials take a practical and coding-focused approach. The best way to learn the material is to execute the code and experiment with it yourself. Check out the full series here: 

1. [First Steps with Python and Jupyter](https://jovian.ai/aakashns/first-steps-with-python)
2. [A Quick Tour of Variables and Data Types](https://jovian.ai/aakashns/python-variables-and-data-types)
3. [Branching using Conditional Statements and Loops](https://jovian.ai/aakashns/python-branching-and-loops)
4. [Writing Reusable Code Using Functions](https://jovian.ai/aakashns/python-functions-and-scope)
5. [Reading from and Writing to Files](https://jovian.ai/aakashns/python-os-and-filesystem)
6. [Numerical Computing with Python and Numpy](https://jovian.ai/aakashns/python-numerical-computing-with-numpy)
7. [Analyzing Tabular Data using Pandas](https://jovian.ai/aakashns/python-pandas-data-analysis)
8. [Data Visualization using Matplotlib & Seaborn](https://jovian.ai/aakashns/python-matplotlib-data-visualization)
9. [Exploratory Data Analysis - A Case Study](https://jovian.ai/aakashns/python-eda-stackoverflow-survey)

## Interacting with the OS and filesystem

The `os` module in Python provides many functions for interacting with the OS and the filesystem. Let's import it and try out some examples.

In [2]:
import os

We can check the present working directory using the `os.getcwd` function.

In [3]:
os.getcwd()

'C:\\Users\\AJ'

To get the list of files in a directory, use `os.listdir`. You pass an absolute or relative path of a directory as the argument to the function.

In [4]:
help(os.listdir)

Help on built-in function listdir in module nt:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [5]:
os.listdir('.') # relative path

['.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.vscode',
 '3D Objects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'data',
 'DATA ANALYSTS.ipynb',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Sql Learning.ipynb',
 'SQL Learning.txt',
 'Start Menu',
 'Templates',
 'Videos']

In [6]:
os.listdir('/Users') # absolute path

['AJ', 'All Users', 'Default', 'Default User', 'desktop.ini', 'Public']

You can create a new directory using `os.makedirs`. Let's create a new directory called `data`, where we'll later download some files.

In [7]:
os.makedirs('./data', exist_ok=True)

In [8]:
os.listdir('./data')

['emis2.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

Let us download some files into the `data` directory using the `urllib` module.

In [9]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [10]:
from urllib.request import urlretrieve

In [11]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x1a7d0fe7d90>)

In [12]:
urlretrieve(url2, './data/loans2.txt')

('./data/loans2.txt', <http.client.HTTPMessage at 0x1a7d14ff690>)

In [13]:
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x1a7d14c2410>)

Let's verify that the files were downloaded.

In [14]:
os.listdir('./data')

['emis2.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

You can also use the [`requests`](https://docs.python-requests.org/en/master/) library to dowload URLs, although you'll need to [write some additional code](https://stackoverflow.com/questions/44699682/how-to-save-a-file-downloaded-from-requests-to-another-directory) to save the contents of the page to a file.

## Reading from a file 

To read the contents of a file, we first need to open the file using the built-in `open` function. The `open` function returns a file object and provides several methods for interacting with the file's contents.

In [15]:
file1 = open('./data/loans1.txt', mode='r')

The `open` function also accepts a `mode` argument to specifies how we can interact with the file. The following options are supported:

```
    ========= ===============================================================
    Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)
    ========= ===============================================================
```

To view the contents of the file, we can use the `read` method of the file object.

In [16]:
file1_contents = file1.read()

In [17]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1,
628400,120,0.12,100000
4637400,240,0.06,
42900,90,0.07,8900
916000,16,0.13,
45230,48,0.08,4300
991360,99,0.08,
423000,27,0.09,47200

The file contains information about loans. It is a set of comma-separated values (CSV). 

> **CSVs**: A comma-separated values (CSV) file is a delimited text file that uses a comma to separate values. Each line of the file is a data record. Each record consists of one or more fields, separated by commas. A CSV file typically stores tabular data (numbers and text) in plain text, in which case each line will have the same number of fields. (Wikipedia)

The first line of the file is the header, indicating what each of the numbers on the remaining lines represents. Each of the remaining lines provides information about a loan. Thus, the second line `100000,36,0.08,20000` represents a loan with:

* an *amount* of `$100000`, 
* *duration* of `36` months, 
* *rate of interest* of `8%` per annum, and 
* a down payment of `$20000`

The CSV is a standard file format used for sharing data for analysis and visualization. Over the course of this tutorial, we will read the data from these CSV files, process it, and write the results back to files. Before we continue, let's close the file using the `close` method (otherwise, Python will continue to hold the entire file in the RAM)

In [18]:
file1.close()

Once a file is closed, you can no longer read from it.

In [19]:
file1.read()

ValueError: I/O operation on closed file.

## Closing files automatically using `with`

To close a file automatically after you've processed it, you can open it using the `with` statement.

In [20]:
with open('./data/loans2.txt') as file2:
    file2_contents = file2.read()
    print(file2_contents)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

Once the statements within the `with` block are executed, the `.close` method on `file2` is automatically invoked. Let's verify this by trying to read from the file object again.

In [21]:
file2.read()

ValueError: I/O operation on closed file.

## Reading a file line by line


File objects provide a `readlines` method to read a file line-by-line.

In [22]:
with open('./data/loans3.txt', 'r') as file3:
    file3_lines = file3.readlines()

In [23]:
file3_lines

['amount,duration,rate,down_payment\n',
 '45230,48,0.07,4300\n',
 '883000,16,0.14,\n',
 '100000,12,0.1,\n',
 '728400,120,0.12,100000\n',
 '3637400,240,0.06,\n',
 '82900,90,0.07,8900\n',
 '316000,16,0.13,\n',
 '15230,48,0.08,4300\n',
 '991360,99,0.08,\n',
 '323000,27,0.09,4720010000,36,0.08,20000\n',
 '528400,120,0.11,100000\n',
 '8633400,240,0.06,\n',
 '12900,90,0.08,8900']

## Processing data from files

Before performing any operations on the data stored in a file, we need to convert the file's contents from one large string into Python data types. For the file `loans1.txt` containing information about loans in a CSV format, we can do the following:

* Read the file line by line
* Parse the first line to get a list of the column names or headers
* Split each remaining line and convert each value into a float
* Create a dictionary for each loan using the headers as keys
* Create a list of dictionaries to keep track of all the loans

Since we will perform the same operations for multiple files, it would be useful to define a function `read_csv`. We'll also define some helper functions to build up the functionality step by step. 

Let's start by defining a function `parse_header` that takes a line as input and returns a list of column headers.

In [24]:
def parse_headers(header_line):
    return header_line.strip().split(',')

The `strip` method removes any extra spaces and the newline character `\n`. The `split` method breaks a string into a list using the given separator (`,` in this case).

In [25]:
file3_lines[0]

'amount,duration,rate,down_payment\n'

In [26]:
headers = parse_headers(file3_lines[0])

In [27]:
headers

['amount', 'duration', 'rate', 'down_payment']

Next, let's define a function `parse_values` that takes a line containing some data and returns a list of floating-point numbers.

In [28]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        values.append(float(item))
    return values

In [29]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [30]:
parse_values(file3_lines[1])

[45230.0, 48.0, 0.07, 4300.0]

The values were parsed and converted to floating point numbers, as expected. Let's try it for another line from the file, which does not contain a value for the down payment.

In [31]:
file3_lines[2]

'883000,16,0.14,\n'

In [32]:
parse_values(file3_lines[2])

ValueError: could not convert string to float: ''

The code above leads to a `ValueError` because the empty string `''` cannot be converted to a float. We can enhance the `parse_values` function to handle this *edge case*. We will also handle the case where the value is not a float.

In [33]:
def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

In [34]:
file3_lines[2]

'883000,16,0.14,\n'

In [35]:
file3_lines[2]

'883000,16,0.14,\n'

In [36]:
parse_values(file3_lines[2])

[883000.0, 16.0, 0.14, 0.0]

Next, let's define a function `create_item_dict` that takes a list of values and a list of headers as inputs and returns a dictionary with the values associated with their respective headers as keys.

In [37]:
def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

Can you figure out what the Python built-in function `zip` does? Try out an example, or [read the documentation](https://docs.python.org/3.3/library/functions.html#zip).

In [38]:
for item in zip([1,2,3], ['a', 'b', 'c']):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

Let's try out `create_item_dict` with a couple of examples.

In [39]:
file3_lines[1]

'45230,48,0.07,4300\n'

In [40]:
values1 = parse_values(file3_lines[1])
create_item_dict(values1, headers)

{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}

In [41]:
file3_lines[2]

'883000,16,0.14,\n'

In [42]:
values2 = parse_values(file3_lines[2])
create_item_dict(values2, headers)

{'amount': 883000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0}

As expected, the values & header are combined to create a dictionary with the appropriate key-value pairs.

We are now ready to put it all together and define the `read_csv` function.

In [43]:
def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

Let's try it out!

In [44]:
with open('./data/loans2.txt') as file2:
    print(file2.read())

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

In [45]:
read_csv('./data/loans2.txt')

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [46]:
def parse_headers(header_line):
    return header_line.strip().split(',')

def parse_values(data_line):
    values = []
    for item in data_line.strip().split(','):
        if item == '':
            values.append(0.0)
        else:
            try:
                values.append(float(item))
            except ValueError:
                values.append(item)
    return values

def create_item_dict(values, headers):
    result = {}
    for value, header in zip(values, headers):
        result[header] = value
    return result

def read_csv(path):
    result = []
    # Open the file in read mode
    with open(path, 'r') as f:
        # Get a list of lines
        lines = f.readlines()
        # Parse the header
        headers = parse_headers(lines[0])
        # Loop over the remaining lines
        for data_line in lines[1:]:
            # Parse the values
            values = parse_values(data_line)
            # Create a dictionary using values & headers
            item_dict = create_item_dict(values, headers)
            # Add the dictionary to the result
            result.append(item_dict)
    return result

Try to create small, generic, and reusable functions whenever possible. They will likely be useful beyond just the problem at hand and save you significant effort in the future.

In the [previous tutorial](https://jovian.ml/aakashns/python-functions-and-scope), we defined a function to calculate the equal monthly installments for a loan. Here's what it looked like:

In [47]:
import math

def loan_emi(amount, duration, rate, down_payment=0):
    """Calculates the equal montly installment (EMI) for a loan.
    
    Arguments:
        amount - Total amount to be spent (loan + down payment)
        duration - Duration of the loan (in months)
        rate - Rate of interest (monthly)
        down_payment (optional) - Optional intial payment (deducted from amount)
    """
    loan_amount = amount - down_payment
    try:
        emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    except ZeroDivisionError:
        emi = loan_amount / duration
    emi = math.ceil(emi)
    return emi

We can use this function to calculate EMIs for all the loans in a file.

In [48]:
loans2 = read_csv('./data/loans2.txt')

In [49]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

In [50]:
for loan in loans2:
    loan['emi'] = loan_emi(loan['amount'], 
                           loan['duration'], 
                           loan['rate']/12, # the CSV contains yearly rates
                           loan['down_payment'])

You can see that each loan now has a new key `emi`, which provides the EMI for the loan. We can extract this logic into a function so that we can use it for other files too.

In [51]:
def compute_emis(loans):
    for loan in loans:
        loan['emi'] = loan_emi(
            loan['amount'], 
            loan['duration'], 
            loan['rate']/12, # the CSV contains yearly rates
            loan['down_payment'])

## Writing to files

Now that we have performed some processing on the data, it would be good to write the results back to a CSV file. We can create/open a file in `w` mode using `open` and write to it using the `.write` method. The string `format` method will come in handy here.

In [52]:
loans2 = read_csv('./data/loans2.txt')

In [53]:
compute_emis(loans2)

In [54]:
loans2

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 10034},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33196},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 504},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 67707},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 262}]

In [55]:
with open('./data/emis2.txt', 'w') as f:
    for loan in loans2:
        f.write('{},{},{},{},{}\n'.format(
            loan['amount'], 
            loan['duration'], 
            loan['rate'], 
            loan['down_payment'], 
            loan['emi']))

Let's verify that the file was created and written to as expected.

In [56]:
os.listdir('data')

['emis2.txt', 'loans1.txt', 'loans2.txt', 'loans3.txt']

In [57]:
with open('./data/emis2.txt', 'r') as f:
    print(f.read())

828400.0,120.0,0.11,100000.0,10034
4633400.0,240.0,0.06,0.0,33196
42900.0,90.0,0.08,8900.0,504
983000.0,16.0,0.14,0.0,67707
15230.0,48.0,0.07,4300.0,262

Great, looks like the loan details (along with the computed EMIs) were written into the file.

Let's define a generic function `write_csv` which takes a list of dictionaries and writes it to a file in CSV format. We will also include the column headers in the first line.

In [58]:
def write_csv(items, path):
    # Open the file in write mode
    with open(path, 'w') as f:
        # Return if there's nothing to write
        if len(items) == 0:
            return
        
        # Write the headers in the first line
        headers = list(items[0].keys())
        f.write(','.join(headers) + '\n')
        
        # Write one item per line
        for item in items:
            values = []
            for header in headers:
                values.append(str(item.get(header, "")))
            f.write(','.join(values) + "\n")

Do you understand how the function works? If now, try executing each statement by line by line or a different cell to figure out how it works. 

Let's try it out!

In [59]:
loans3 = read_csv('./data/loans3.txt')

In [60]:
compute_emis(loans3)

In [61]:
write_csv(loans3, './data/emis3.txt')

In [62]:
with open('./data/emis3.txt', 'r') as f:
    print(f.read())

amount,duration,rate,down_payment,emi
45230.0,48.0,0.07,4300.0,981
883000.0,16.0,0.14,0.0,60819
100000.0,12.0,0.1,0.0,8792
728400.0,120.0,0.12,100000.0,9016
3637400.0,240.0,0.06,0.0,26060
82900.0,90.0,0.07,8900.0,1060
316000.0,16.0,0.13,0.0,21618
15230.0,48.0,0.08,4300.0,267
991360.0,99.0,0.08,0.0,13712
323000.0,27.0,0.09,4720010000.0,-193751447
528400.0,120.0,0.11,100000.0,5902
8633400.0,240.0,0.06,0.0,61853
12900.0,90.0,0.08,8900.0,60

With just four lines of code, we can now read each downloaded file, calculate the EMIs, and write the results back to new files:

In [63]:
for i in range(1,4):
    loans = read_csv('./data/loans{}.txt'.format(i))
    compute_emis(loans)
    write_csv(loans, './data/emis{}.txt'.format(i))

In [64]:
os.listdir('./data')

['emis1.txt',
 'emis2.txt',
 'emis3.txt',
 'loans1.txt',
 'loans2.txt',
 'loans3.txt']

## Using Pandas to Read and Write CSVs

There are some limitations to the `read_csv` and `write_csv` functions we've defined above:

* The `read_csv` function fails to create a proper dictionary if any of the values in the CSV files contains commas
* The `write_csv` function fails to create a proper CSV if any of the values to be written contains commas

When a value in a CSV file contains a comma (`,`), the value is generally placed within double quotes. Double quotes (`"`) in values are converted into two double quotes (`""`). Here's an example:

```
title,description
Fast & Furious,"A movie, a race, a franchise"
The Dark Knight,"Gotham, the ""Batman"", and the Joker"
Memento,A guy forgets everything every 15 minutes

```

Let's try it out.

In [65]:
movies_url = "https://gist.githubusercontent.com/aakashns/afee0a407d44bbc02321993548021af9/raw/6d7473f0ac4c54aca65fc4b06ed831b8a4840190/movies.csv"

In [66]:
urlretrieve(movies_url, 'data/movies.csv')

('data/movies.csv', <http.client.HTTPMessage at 0x1a7d1878710>)

In [67]:
movies = read_csv('data/movies.csv')

In [68]:
movies

[{'title': 'Fast & Furious', 'description': '"A movie'},
 {'title': 'The Dark Knight', 'description': '"Gotham'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

As you can seen above, the movie descriptions weren't parsed properly.

To read this CSV properly, we can use the `pandas` library.

In [69]:
!pip install pandas --upgrade --quiet

In [70]:
import pandas as pd

The `pd.read_csv` function can be used to read the CSV file into a pandas data frame: a spreadsheet-like object for analyzing and processing data. We'll learn more about data frames in a future lesson.

In [71]:
movies_dataframe = pd.read_csv('data/movies.csv')

In [72]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

In [73]:
movies_dataframe

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

A dataframe can be converted into a list of dictionaries using the `to_dict` method.

In [86]:
movies = movies_dataframe.to_dict('records')

In [87]:
movies

[{'title': 'Fast & Furious', 'description': 'A movie, a race, a franchise'},
 {'title': 'The Dark Knight',
  'description': 'Gotham, the "Batman", and the Joker'},
 {'title': 'Memento',
  'description': 'A guy forgets everything every 15 minutes'}]

If you don't pass the arguments `records`, you get a dictionary of lists instead.

In [88]:
movies_dict = movies_dataframe.to_dict()

In [89]:
movies_dict

{'title': {0: 'Fast & Furious', 1: 'The Dark Knight', 2: 'Memento'},
 'description': {0: 'A movie, a race, a franchise',
  1: 'Gotham, the "Batman", and the Joker',
  2: 'A guy forgets everything every 15 minutes'}}

Let's try using the `write_csv` function to write the data in `movies` back to a CSV file.

In [92]:
write_csv(movies, 'movies2.csv')

In [93]:
!head movies2.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

As you can see above, the CSV file is not formatted properly. This can be verified by attempting to read the file using `pd.read_csv`.

In [94]:
pd.read_csv('movies2.csv')

,,title,description
Fast & Furious,A movie,a race,a franchise
The Dark Knight,Gotham,"the ""Batman""",and the Joker
Memento,A guy forgets everything every 15 minutes,NaN,NaN

To convert a list of dictionaries into a dataframe, you can use the `pd.DataFrame` constructor.

In [95]:
df2 = pd.DataFrame(movies)

In [96]:
df2

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

It can now be written to a CSV file using the `.to_csv` method of a dataframe.

In [98]:
df2.to_csv('movies3.csv', index=None)

Can you guess what the argument `index=None` does? Try removing it and observing the difference in output.

In [99]:
!head movies3.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

The CSV file is formatted properly. We can verify this by trying to read it back.

In [100]:
pd.read_csv('movies3.csv')

             title                                description
0   Fast & Furious               A movie, a race, a franchise
1  The Dark Knight        Gotham, the "Batman", and the Joker
2          Memento  A guy forgets everything every 15 minutes

We're able to write and read the file properly with `pandas`. 

In general, it's always a better idea to use libraries like Pandas for reading and writing CSV files.

In [2]:
pip install --upgrade pandoc

Collecting pandoc
  Downloading pandoc-2.3.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting plumbum
  Downloading plumbum-1.8.0-py3-none-any.whl (117 kB)
     ------------------------------------ 117.5/117.5 kB 760.8 kB/s eta 0:00:00
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     -------------------------------------- 49.6/49.6 kB 836.7 kB/s eta 0:00:00
Requirement already satisfied: pywin32 in c:\users\aj\appdata\local\programs\python\python311\lib\site-packages (from plumbum->pandoc) (304)
Building wheels for collected packages: pandoc
  Building wheel for pandoc (setup.py): started
  Building wheel for pandoc (setup.py): finished with status 'done'
  Created wheel for pandoc: filename=pandoc-2.3-py3-none-any.whl size=33321 sha256=7e247e54656c19ed223a64e73571ae0b8f06582d7823c400ced232b84646e0e1
  Stored in directory: c:\users\aj\appdata\local\pip\cache\wheels\39\53\14\5af0653f5bbbda24a82a37101957b25632d8cb67039da97f24
Successfully built pandoc
Installing collected packages: ply, plumbum, pandoc
Successfully installed pandoc-2.3 plumbum-1.8.0 ply-3.11
Note: you may need to restart the kernel to use updated packages.